<%- include("partials/header.ejs") %> 
    <div class="heading">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur labore ratione, eius modi omnis eveniet perspiciatis voluptate repellendus porro doloremque reprehenderit libero. Quae quidem fugit voluptates nesciunt illum ullam odit?</p>
    </div>
<%- include("partials/footer.ejs") %> 