<%- include("partials/header.ejs")%> 
    <div class="heading">
        <h1>Contact</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quibusdam, hic eum placeat ratione accusantium ipsum? Culpa provident repudiandae illo magnam quam, iusto suscipit labore nulla aspernatur tempora asperiores velit!</p>
    </div>
<%- include("partials/footer.ejs")%> 